<main class="painel02">
    <div id="active"></div>
    <!-- INTRO ================================================= -->
    <section class="p02-intro reveal-target" #revealEl>
        <h2 class="p02-headline">
            {{ "painel02-01" | translate}}
        </h2>
        <p class="p02-blurb">
            {{ "painel02-02" | translate}}
        </p>
    </section>

    <!-- FOUNDERS ============================================== -->
    <section class="p02-founders-wrapper reveal-target" #revealEl>

        <ul class="p02-offerings-list">
            <li class="p02-offering-card reveal-target" #revealEl [style.transitionDelay]="'0s'">
                <div class="offering-header">
                    <img src="https://i.imgur.com/aGxfXTx.png" alt="Ícone Forex" loading="lazy">
                </div>
                <div class="offering-body">
                    <h4>{{ "painel02-03" | translate}}</h4>
                    <ul>
                        <li>{{ "painel02-04" | translate}}</li>
                        <li>{{ "painel02-05" | translate}}</li>
                        <li>{{ "painel02-06" | translate}}</li>
                    </ul>
                </div>
            </li>
            <li class="p02-offering-card reveal-target" #revealEl [style.transitionDelay]="'0.18s'">
                <div class="offering-header">
                    <img src="https://i.imgur.com/7ycC3cT.png" alt="Ícone Ações" loading="lazy">
                </div>
                <div class="offering-body">
                    <h4>{{ "painel02-07" | translate}}</h4>
                    <ul>
                        <li>{{ "painel02-08" | translate}}</li>
                        <li>{{ "painel02-09" | translate}}</li>
                        <li>{{ "painel02-10" | translate}}</li>
                    </ul>
                </div>
            </li>
            <li class="p02-offering-card reveal-target" #revealEl [style.transitionDelay]="'0.36s'">
                <div class="offering-header">
                    <img src="https://i.imgur.com/1O0d8xo.png" alt="Ícone Criptoativos" loading="lazy">
                </div>
                <div class="offering-body">
                    <h4>{{ "painel02-11" | translate}}</h4>
                    <ul>
                        <li>{{ "painel02-12" | translate}}</li>
                        <li>{{ "painel02-13" | translate}}</li>
                        <li>{{ "painel02-14" | translate}}</li>
                    </ul>
                </div>
            </li>
        </ul>

    </section>

</main>