.leiaut {
    padding: 50px 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    color: #a8a8a8;
    font-size: 40px;
    text-align: center;
    font-weight: 100 !important;
}

p span {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

img {
    width: 90%;
    max-width: 300px;
    margin: 100px 0;

    /* garante que o elemento amplie a partir do centro */
    transform-origin: center center;

    /* animação contínua (alterna expandir e voltar) */
    animation: pulse 15s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* expande 20% */
    }
}