<section class="painel05">
    <div class="p05-overlay"></div>
    <div id="steps"></div>

    <div class="p05-content">
        <h2 class="p05-title">{{ "painel05-01" | translate }}</h2>
        <p class="p05-subtitle">{{ "painel05-02" | translate }}</p>

        <div class="p05-steps">
            <div class="p05-step">
                <img src="https://i.imgur.com/NWm4mJj.png" class="p05-step-icon">
                <div class="p05-step-info">
                    <h3>{{ "painel05-03" | translate }}</h3>
                    <p>{{ "painel05-04" | translate }}</p>
                </div>
            </div>

            <div class="p05-step">
                <img src="https://i.imgur.com/6mcPcJs.png" class="p05-step-icon">
                <div class="p05-step-info">
                    <h3>{{ "painel05-05" | translate }}</h3>
                    <p>{{ "painel05-06" | translate }}</p>
                </div>
            </div>

            <div class="p05-step">
                <img src="https://i.imgur.com/mftNMub.png" class="p05-step-icon">
                <div class="p05-step-info">
                    <h3>{{ "painel05-07" | translate }}</h3>
                    <p>{{ "painel05-08" | translate }}</p>
                </div>
            </div>

            <div class="p05-step">
                <img src="https://i.imgur.com/BZdyS2z.png" class="p05-step-icon">
                <div class="p05-step-info">
                    <h3>{{ "painel05-09" | translate }}</h3>
                    <p>{{ "painel05-10" | translate }}</p>
                </div>
            </div>
        </div>

        <a href="https://auth.koancapital.com/login"><button class="p05-cta">{{ "painel05-11" | translate }}</button></a>
    </div>
</section>